*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: #fff;
}
.movie-app{
  overflow-x:auto  ;
  flex-wrap: nowrap;
}
.movie-app::-webkit-scrollbar{
  display: none;
}

